
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-size: x-large;
    font-style: italic;
    font-style: normal;
    color: #E6533C;
    background-color: black;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
  }
  
  /* shared styles */
  /* navbar styles */
  .navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .nav-links{
    display: flex;
    color: white;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
    font-variant: normal;
    
  }
  .btn-p{
   background-color: #E6533C;
   color: white;
   font-weight: bold;
   font-size: 25px;
   padding: 25px,50px;
   border: none;
   border-radius: 2px;

  
  }
  /* banner styles */
  .banner{
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  .Btn-P{
    background-color: #E6533C;
    color: white;
    font-weight: bolder;
    font-size: large;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 200px;
  }
  .Btn-D{
   background-color: black;
   color: white;
   border-radius: 10px;font-weight: bolder;
   font-size: large;
   height: 50px;
   width: 200px;
  
  }
  /* section styles */
.S-S{
justify-content: space-between;

}
.img-description{
  color: gray;
  font-weight: 200px;
  font-size: medium;
}
.banner-2{
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.image-2{
  display: flex;

}
/* S-4 styles */
.banner-3{
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}
.S-4{
  display: flex;
  justify-content: space-around;
  background-color: darkslategrey;
}
.image-6{
  display: grid;
  grid-template-columns: repeat(3,2fr);
  gap: 25px;
  border: none;
  border-radius: 20px;
  justify-content: center;
  padding: auto;
  margin-top: 50px;
  background-color: dimgrey;
}
.f-s{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.title{
  color: white;
}
.banner-description{
  color: gray;
}
.copy-right{
  text-align: center;
  color: gray;

}
.footer-style{
  background-color: darkgreen;
}

/* small device styles */
@media screen and (max-width: 576px) {
  
  .image-6{
    grid-template-columns: repeat(1,1fr);
}
  